# common
__pycache__/
*.pyc

.ipynb_checkpoints


# project 1
1-evaluating_word_reps/data/Analogies/*
1-evaluating_word_reps/data/MEN/*
1-evaluating_word_reps/data/SimLex-999/*
1-evaluating_word_reps/data/2000_nouns_sorted.txt
1-evaluating_word_reps/data/bow2.words
1-evaluating_word_reps/data/bow5.words
1-evaluating_word_reps/data/deps.words

1-evaluating_word_reps/models/*


# project 2
2-learning_word_reps/data/english-french_small/*
2-learning_word_reps/data/english-french_large/*
2-learning_word_reps/data/gold_standard_alignments/*
2-learning_word_reps/data/lexical_substitution/*
2-learning_word_reps/data/processed/*

2-learning_word_reps/models/*
